{% extends "base_admin.html" %}
{% load staticfiles %}
{% block head %}
    <title>{{city|title}} - Upload map</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/citymap.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <h1>{{city|title}}</h1>
    <h2>Current map</h2>
    <img src="/media/city/{{city}}.jpg/" onerror="this.src='{{ STATIC_URL }}/static/images/city404.jpg/'" alt="Image of the city: {{city}}"/><br />
    <form id="imgSelect" method="POST" action="submit_map/" enctype="multipart/form-data">
        {% csrf_token %}
        <span>Select an image...</span>
        <input type="file" name="file" />
        <button type="submit">Confirm changes</button>
    </form>
    {% if messages %}
    {% for message in messages %}
    <span> {{message}} </span><br />
    {% endfor %}
    {% endif %}
</div>
{% endblock %}