{% extends "base_admin.html" %}
{% block head %}
    <title>Control Panel</title>
{% endblock %}

{% block content %}
<div class="content">
    <p>Please us the home button to be redirected to this page.</p>
    <h2>Admin user controls</h2>
    <div id="addAdmin">
        <a href="./add_admin/">Add Admin</a>
    </div>
    <div id="uploadMap">
        <a href="./upload_map/">Upload city map</a>
    </div>
    <h2>Page controls</h2>
    <!--<div id="addServiceType">
        <a href="./add_servicetype/">Add service type</a>
    </div>-->
    <div id="addPage">
        <a href="./add_page/">Add page</a>
    </div>
    <div id="editPage">
        <a href="./edit_page/">Edit/Remove page</a>
    </div>
    {% if messages %}
    {% for message in messages %}
    <span> {{message}} </span><br />
    {% endfor %}
    {% endif %}
    <div>
        <!--Additional tools go here-->
    </div>
</div>
{% endblock %}
