{% extends "base_admin.html" %}
{% load staticfiles %}
{% block head %}
    <title>{{modelName}} - Add Item</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_addmodels.css' %}">
    <script type="text/javascript" src="{% static 'javascript/formValidation.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/maps.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcH76SKD-GzqVJquVjdnn6sxxp-WgViOg&libraries=places"></script>
{% endblock %}

{% block content %}
<div class="content">
    <form method="POST" action="submit_item/" onsubmit="return validateInput(this)">
        {% csrf_token %}
        <select id="city" name="city" fieldName="City">
            <option selected disabled value="">Please select a city...</option>
            <option value="sydney">Sydney</option>
            <option value="brisbane">Brisbane</option>
        </select>* <br />
        <button onclick="return panMap()">CLICKME</button>
        {% for fieldName in fieldArr %} <!--The "addModels" in a url tag is its namespace, ensure it is named in the urls-->
        <span id="label{{fieldName}}">{{fieldName}}: </span>
        <input id="{{fieldName}}" type="text" placeholder="Input text here" name="{{fieldName}}" fieldName="{{fieldName}}" />* <br />
        <span id="error{{fieldName}}"></span>
        {% endfor %}
        <button type="submit">Submit</button>
        {% if messages %}
        {% for message in messages %}
        <span> {{message}} </span><br />
        {% endfor %}
        {% endif %}
    </form>
    <div id="map" style="height: 400px">
        <script>adminMap()</script>
    </div>
</div>
{% endblock %}
