{% extends "base_generic.html" %}
{% load staticfiles %}
{% block head %}
    <title>{{modelName}} - Add Item</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_addmodels.css' %}">
    <script type="text/javascript" src="{% static 'javascript/formValidation.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/adminControls.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcH76SKD-GzqVJquVjdnn6sxxp-WgViOg&libraries=places"></script>
{% endblock %}

{% block content %}
    <form method="POST" action="submit_servicetype/" onsubmit="return validateInput(this)">
        {% csrf_token %}
        <label>TableName: </label>
        <input id="tableName" name="tableName" placeholder="tableName" /><br />
        <input id="name" name="name" value="name" readonly/><br />
        <input id="address" name="address" value="address" readonly/><br />
        <input id="latitude" name="latitude" value="latitude" readonly/> <br />
        <input id="longitude" name="longitude" value="longitude" readonly/> <br />
        <input id="city" name="city" value="city" readonly /> <br />
        <span>Additional fields: </span> <br>
        <label>Field name: </label>
        <input id="fieldName" />
        <button onclick="return addField()">Add field</button> <br />
        <div id="expansion"></div>






        <button type="submit">Submit</button>
        {% if messages %}
            {% for message in messages %}
                <span> {{message}} </span><br />
            {% endfor %}
        {% endif %}
    </form>
    
{% endblock %}