{% extends "base_generic.html" %}
{% load staticfiles %}
{% block head %}
    <title>{{modelName}} - Add Item</title>
    <script type="text/javascript" src="{% static 'javascript/formValidation.js' %}"></script>
{% endblock %}

{% block content %}
    <form method="POST" action="submit_item/" onsubmit="return validateInput(this)">
        {% csrf_token %}
        {% for fieldName in fieldArr %} <!--The "addModels" in a url tag is its namespace, ensure it is named in the urls-->
            <span>{{fieldName}}: </span>
            <input id="{{fieldName}}" type="text" placeholder="Input text here" name="{{fieldName}}" fieldName="{{fieldName}}" />* <br />
            <span id="error{{fieldName}}"></span>
        {% endfor %}
        <button type="submit">Submit</button>
        {% if messages %}
            {% for message in messages %}
                <span> {{message}} </span><br />
            {% endfor %}
        {% endif %}
    </form>
{% endblock %}