{% extends "base_generic.html" %}
{% load staticfiles %}
{% block head %}
    <title>{{modelName}} - Add Item</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_addmodels.css' %}">
    <script type="text/javascript" src="{% static 'javascript/formValidation.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/maps.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcH76SKD-GzqVJquVjdnn6sxxp-WgViOg&libraries=places"></script>
{% endblock %}

{% block content %}
    <h1>Edit model</h1>
     {% for model in modelData %} <!--The "addModels" in a url tag is its namespace, ensure it is named in the urls-->
        <a href='{% url "editItem" modelName model.name %}'>{{model.name}}</a> <br />
     {% endfor %}    
{% endblock %}
<!--Temporary bug found where it couldnt match if a modelname didnt exists, deleted this val and readded it and was fixed?-->
<!--Add page for selecting models, mimicjking already existing-->
<!--Fix up this page to either be selecting or editing-->