{% extends "base_admin.html" %}
{% load staticfiles %}
{% block head %}
    <title>{{itemName}} - Edit Item</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_addmodels.css' %}">
    <script type="text/javascript" src="{% static 'javascript/formValidation.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/maps.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcH76SKD-GzqVJquVjdnn6sxxp-WgViOg&libraries=places"></script>
{% endblock %}

{% block content %}
    <form method="POST" action="submit_edit_item/" onsubmit="return validateInput(this)" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>{{itemName}}</h1>
        {% for field, value in item %}
            {% if field != 'id' %}
                <span>{{field|title}}</span>
                {% if field == 'city' %}
                    <select id="city" name="itemCity" fieldName="City">
                        <option selected disabled value="{{value}}">Current selection: {{value}}</option>
                        <option value="Sydney">Sydney</option>
                        <option value="Brisbane">Brisbane</option>
                    </select>* <br />
                    <button onclick="return panMap()">CLICKME</button>
                {% else %}
                    <input id={{field|title}} type="text" value="{{value}}" name="{{field}}" fieldName="{{field}}" /><br />
                {% endif %}
                <span id="error{{field}}"></span>
            {% endif %}
        {% endfor %}
        <span>Select an image...</span>
        <input type="file" name="file" />
        <button type="submit">Confirm changes</button>
        <button type="reset">Reset</button>

        
    </form>
    <form method="POST" action="submit_delete_item/" onsubmit="return confDeletion()">
        {% csrf_token %}
        <input type="submit" value="Delete Item" />
    </form>
    {% if messages %}
        {% for message in messages %}
            <span> {{message}} </span><br />
        {% endfor %}
    {% endif %}
    
    <div id="map" style="height: 400px">
        <script>adminMap()</script>
    </div>
{% endblock %}

    <!--Add page for selecting models, mimicjking already existing-->
    <!--Fix up this page to either be selecting or editing-->
