{% extends "base_generic.html" %}
{% load staticfiles %}
{% load app_filters %}
{% block head %}
    <title>{{serviceDetails.name|title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\searchDetails.css' %}">
    <script type="text/javascript" src="{% static 'javascript/maps.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcH76SKD-GzqVJquVjdnn6sxxp-WgViOg&libraries=places"></script>
{% endblock %}

{% block content %}
    <container class="container">
        <div class="box">
            <div class="col-xs-12 col-sm-7 col-md-7 details">
                <h1>{{serviceDetails.name|title}}</h1> <br />
                <div id="inner">
                    {% if serviceDetails.address %}
                        Address: {{serviceDetails.address}} <br />
                    {% else %}
                        Address: ERRROR <br />
                    {% endif %}
                    City: {{serviceDetails.city}} <br />
                    {% for detail in serviceDetails %}
                        {% if detail != "city" and detail != "desc" and detail != "name" and detail != "usertype" and detail != "id" and detail != "address" %}
                            <span>{{detail|title}} : {{serviceDetails|get_model_val:detail}}</span><br />
                        {% endif %}
                    {% endfor %}
                    {% if serviceDetails.desc %}
                        Desc of place: {{serviceDetails.desc}} <br />
                    {% endif %}
                </div>
                
            </div>

            <div class="col-xs-12 col-sm-5 col-md-5 image">

                {% if serviceDetails.image %}
                    <img src="{{serviceDetails.image}}"/
                {% endif %}
                <img src="{{ STATIC_URL }}/static/images/serviceImg/{{serviceDetails.name}}.jpg/" onerror="this.src='{{ STATIC_URL}}/static/images/serviceImg/404.jpg/'" />
                <div id="map">
                    <script>
                    //Must accept array of db results too when implemented in resultSet
                    initMap(-33.866, 151.196);
                    </script>
                </div>
            
            </div>

        </div>
    </container>
   
{% endblock %}