{% extends "base_minimal.html" %}
{% load staticfiles %}
{% block head %}
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <script type="text/javascript" src="{% static 'javascript/formValidation.js' %}"></script>
{% endblock %}
   
{% block content %}
    <div class="container">
        <div class="row">
            <div id="aboutBox" class="col-xs-8 col-sm-8 col-md-8">
                <div id="aboutText">
                    <h1>Welcome to smartycity application</h1>
                    <p>
                        This is an application to allow you to browse points of interest in the surrounding area. <br />
                        With an easy to use search system and visualisation of map data, the process is made to be easy and intuitive for users of all ages.
                        Please login or signup if you don't have an account.
                    </p>
                    <a class="custbtn" href="/signUp/">Register Here</a>
                    
                </div>
                <div id="contactUs">
                    <span>Phone: 00-00000000</span>
                    <span>Email: email@email.com</span>
                </div>
            </div>
            <div id="loginBox" class="col-xs-4 col-sm-4 col-md-4">
                <div id="loginForm">
                    <h1>Login to your account</h1>
                    <form method="POST" action="auth/" onsubmit="return validateInput(this)">
                        {% csrf_token %}
                        <input class="form-line" id="username" type="text" placeholder="Username" name="username" fieldName="Username" />
                        <span id="errorusername"></span>
                        <input class="form-line" id="pass" type="password" placeholder="Password" name="password" fieldName="Password" />
                        <span id="errorpass"></span><br>
                        <button class="custbtn" type="submit">Login</button>
                    </form>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        <span class="errMessage"> {{message}} </span><br />
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}