{% extends "base_generic.html" %}
{% load staticfiles %}
{% block head %}
<!--DEVELOPMENT ONLY: AIzaSyAzl6bbNp1i-f5UByJaae8dXMlDrea_Q5Q-->
    <title>Home page title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/searchMain.css' %}">
    <script type="text/javascript" src="{% static 'javascript/maps.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcH76SKD-GzqVJquVjdnn6sxxp-WgViOg&libraries=places"></script>
{% endblock %}

{% block content %}
    <container class="container">
        <div id="divSearchBox">
            <h1>Search</h1>
            <form id="searchForm" method="GET" action="/search/results/">
                <div class="input-group">
                    <input type="text" id="searchField" name="sQuery" placeholder="Search..." />
                    <input type="submit" id="searchBtn" value="Search" />
                    <input type="hidden" name="city" value="-33.866,151.196" />
                    <input type="hidden" name="type" value="" />
                </div>
                
            </form>
        </div><br />
        <div id="map">
            <script>
            //Must accept array of db results too when implemented in resultSet
            initMap(-33.866, 151.196);
            </script>
        </div>
    </container>
    
    
    {% if messages %}
        {% for message in messages %}
            <span class="errMessage"> {{message}} </span><br />
        {% endfor %}
    {% endif %}
{% endblock %}