{% extends "base_generic.html" %}
{% load staticfiles %}
{% block head %}
    <title>Home page title</title>
{% endblock %}

{% block content %}
    <p> This is the home page text</p>
    <form method="GET" action="/search/results/">
        <input type="text" id="searchBox" name="sQuery" placeholder="searchbox" />
        <input type="submit" value="Search" />
    </form>
    {% if messages %}
        {% for message in messages %}
            <span class="errMessage"> {{message}} </span><br />
        {% endfor %}
    {% endif %}
{% endblock %}