{% extends "base_generic.html" %}
{% load staticfiles %}
{% block head %}
    <title>Home page title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/searchMain.css' %}">
{% endblock %}

{% block content %}
    <container class="container">
        <div id="divSearchBox" class="col-md-10">
            <h1>Search</h1>
            <form id="searchForm" method="GET" action="/search/results/">
                <div class="input-group">
                        <input type="text" id="searchField" name="sQuery" placeholder="Search..." />
                        <input type="submit" id="searchBtn" value="Search" />
                </div>
                
            </form>
        </div>
    </container>
    
    
    {% if messages %}
        {% for message in messages %}
            <span class="errMessage"> {{message}} </span><br />
        {% endfor %}
    {% endif %}
{% endblock %}