#Desc{
    width: 400px;
    height: 200px;
}

.content{
    min-width: 1000px;
}

#labelDesc{
    vertical-align: top;
}

#Address{
    width: 400px;
}

#map{
    margin-top: -480px;
    margin-left: 550px;
}

form > span {
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    padding-right: 10px;
} 

form > input {
    display: inline-block;
    float: left;
}

#submitButton{
    margin-top: 280px;
    margin-left: -400px;
    width: 100px;
}

#resetButton{
    margin-left: 100px;
    height: 40px;
    width: 100px;
}

#deleteButton{
    margin-left: 100px;
    height: 40px;
    width: 100px;
}