body{
    background-color: grey;
}

.row { 
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    height: 750px;
    min-width: 800px;
}

.custbtn {
  background: #4bd150;
  background-image: -webkit-linear-gradient(top, #4bd150, #2b992e);
  background-image: -moz-linear-gradient(top, #4bd150, #2b992e);
  background-image: -ms-linear-gradient(top, #4bd150, #2b992e);
  background-image: -o-linear-gradient(top, #4bd150, #2b992e);
  background-image: linear-gradient(to bottom, #4bd150, #2b992e);
  -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 7px 20px 7px 20px;
  text-decoration: none;
}

.custbtn:hover {
  background: #45ba48;
  background-image: -webkit-linear-gradient(top, #45ba48, #248227);
  background-image: -moz-linear-gradient(top, #45ba48, #248227);
  background-image: -ms-linear-gradient(top, #45ba48, #248227);
  background-image: -o-linear-gradient(top, #45ba48, #248227);
  background-image: linear-gradient(to bottom, #45ba48, #248227);
  text-decoration: none;
  color: #ffffff;
}

h1{
    font-size: 28px;
    font: 32px Helvetica, Arial;
    font-weight: 500;
    color: white;
}

#loginBox{
    background-color: 031727;
    height: 750px;
}

.container{
    width: 100%;
    min-width: 1200px;
}

#loginForm{
    min-width: 250px;
    margin-top: 275px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
}

.form-line{
    box-sizing: border-box;
    outline: none;
    width: 85%;
    display: block;
    padding: 2px;
    height: 30px;
    border: none;
    margin-top: 8px;
    margin-bottom: 3px;
    border-bottom: 1px solid white;
    background: transparent;
    font: 16px Arial, Helvetica, sans-serif;
    color: white;
}

#loginForm span{
    color: lightgrey;
}

#loginForm button{
    margin-top: -10px;
    padding-top: 2px;
    height: 35px;
    border: none;
    margin-bottom: 10px;
}

#aboutBox{
    background-color: #126872;
    height: 100%;
}

#aboutText{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 250px;
}

#aboutText p{
    font-size: 15px;
    margin-left: 5px;
    margin-bottom: 20px;
    color: white;
}

#contactUs{
    margin-top: 250px;
    margin-left: 5%;
    color: white;
}

#contactUs span{
    margin-left: 5%;
}

.errMessage{
    color: lightgrey;
    margin-left: 21%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}