body{
    background-color: grey;
}



#map{
    height: 400px;
}

#divSearchBox{
    margin-left: 7%;
    background-color: #126872;
    width: 85%;
    padding-bottom: 20px;
    min-width: 800px;
    border-radius: 20px;
}

#divSearchBox h1{
    text-align: center;
    color: white;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.input-group{
    width: 80%;
    min-width: 700px;
    margin: 0 auto;
}

#searchField{
    padding-left: 15px;
    width: 90%;
    height: 60px;
    font: 35px Arial, Helvetica, sans-serif;
}

#searchBtn{
    position: absolute;
    width: 10%;
    min-width: 70px;
    height: 60px;
}