body {
    background-color: grey;
}

#box{
    margin-left: 7%;
    background-color: #126872;
    width: 85%;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    min-width: 800px;
    border-radius: 20px;
}

.resultSet{
    background-color: white;
}

.result{
    border-style: solid;
    border-color: black;
    border-width: 2px 2px 2px 2px;
}

table{
    width: 100%;
}


#map{
    margin-top: 50px;
    min-width: 630px;
    height: 400px;
    width: 90%;
    margin-left: 5%;
}

h1, h2{
    color: white;
}