body {
    background-color: grey;
}

.box{
    background-color: white;
    margin-left: 5%;
    width: 90%;
    min-width: 600px;
}

.details{
    background-color: white;
    border-radius: 20px;
    padding-left: 50px;
    background-color: #126872;
    color:white;
    padding-top: 20px;
    padding-bottom: 50px;
}

.image{
    margin-top: 20px;
}

#inner{
    margin-left: 20px;
}

img{
    width: 600px;
    height: auto;
}

#map{
    background-color: black;
    height: 400px;
    width: 600px;
}