body {
    background-color: grey;
}

.box{
    background-color: green;
    margin-left: 5%;
    width: 90%;
    padding: 10px;
    min-width: 750px;
}

.resultSet{
    background-color: white;
}

.result{
    border-style: solid;
    border-color: black;
    border-width: 2px 2px 2px 2px;
}

table{
    width: 100%;
}


#map{
    background-color: black;
    height: 400px;
}