body {
    background: url('../images/background.jpg') no-repeat center center fixed; 
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	margin: 0 0 100px;
}


.container {
    background: #f3f3f3;
    width: 600px;
    border-radius: 20px;
}

.signupBox{
    margin: 0 auto;
    background: #f3f3f3;
    color: darkslategrey;
}

.signupBox h1 {
    font: 32px Helvetica, Arial;
    font-weight: 600;
    background: #D0D0D0;
    text-align: center;
}

.form-group label{
    margin-top: 2px;
    float: right;
}

.form-group input{
    box-sizing: border-box;
    outline: none;
    width: 85%;
    display: block;
    padding: 2px;
    height: 30px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    font: 16px Arial, Helvetica, sans-serif;

}

.form-group input::placeholder{ 

}

.form-group select{
    margin-top: 2px;
}

.form-group span{
    margin-left: -3%;
    display: block;
    color: red;
    margin-bottom: 5px;
}

#req{
    margin-left: 185px;
}

.custbtn {
  background: #18C29C;
  width: 200px;
  -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  margin-top: 5px;
  margin-left: 180px;
}

.custbtn:hover {
  background: #18C29C;
  text-decoration: none;
  color: #ffffff;
}